/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: sticky;
    top: 0;
    background-color: var(--white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
    color: var(--primary);
}

.logo-img{
    height: 20px;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    position: relative;
}

.nav-links a {
    color: var(--text);
    font-size: 18px;
    padding: 10px;
    text-transform: uppercase;
}

.nav-links a:hover {
    color: var(--primary);
}

.nav-links .highlighted {
    background-color: var(--primary);
    color: var(--white);
    border-radius: 5px;
}
.highlighted:hover{
    background-color: var(--secondary);
    color: var(--white) !important;
}
.dropdown {
    display: none;
    position: absolute;
    background-color: var(--white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    top: 100%;
    left: 0;
    min-width: 150px;
    list-style: none;
}

.nav-links li:hover .dropdown {
    display: block;
}

.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav-links {
        position: absolute;
        top: 70px; /* space below navbar */
        right: 0;
        width: 100%;
        background-color: var(--white);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: none;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 20px 0;
    }

    .hamburger {
        display: block;
        font-size: 30px;
        cursor: pointer;
    }

    .nav-links .highlighted {
        font-size: 18px;
    }

    .nav-links li a {
        font-size: 20px;
    }
}

